<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{dashboard}">
<body>
	<div layout:fragment="content">
		<div class="d-flex align-items-center mb-3">
			<h3 class="title-page-ct mr-4">DANH SÁCH CHI ĐOÀN</h3>
			<a class="btn btn-primary" th:href="@{/khoa/create}" role="button">Thêm mới</a>
		</div>
		<div class="fillter-property-data group-input-style">
             <form th:action="@{/chidoan/search}" method="GET">
             	<div class="row">
                 <div class="col-md-3">
                     <div class="input-group-style">
                         <span class="label" id="lblMNaSV">Tên chi đoàn</span>
                         <input name="keyword" type="text" th:value="${keyword}" id="txtMa_sv" class="form-control input-frm" placeholder="Nhập từ khóa tìm kiếm">
                     </div>
                 </div>
                 <div class="col-lg-3 col-md-6">
                     <div class="input-group input-group-style">
                     	<span class="label" id="lblMNaSV" style="color: #fff;">Tên đoàn viên</span>
                         <button type="submit" class="btn btn-primary btn-submit-t2 smooth">Tìm kiếm</button>
                     </div>
                 </div>
             </div>
             </form>
         </div>
        <div class="table-data-style table-responsive-md">
            <table class="table" style="font-size: 14px;">
                <thead>
                    <tr>
                        <th scope="col">MÃ CHI ĐOÀN</th>
                        <th scope="col">TÊN CHI ĐOÀN</th>
                        <th scope="col">LOẠI</th>
                        <th scope="col">ĐỊA CHỈ</th>
                        <th scope="col">EMAIL</th>
                        <th scope="col">TRẠNG THÁI</th>
                        <th scope="col">KHOA</th>
                        <th scope="col" class="text-center">CHỨC NĂNG</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="cd : ${chidoans}">
                        <td th:text="${cd.macd}"></td>
                        <td th:text="${cd.donvi}"></td>
                        <td th:text="${cd.loai}"></td>
                        <td th:text="${cd.diachi}"></td>
                        <td th:text="${cd.email}"></td>
                        <td th:text="${cd.trangthai}"></td>
                        <td th:text="${cd.makh}"></td>
                        <td class="text-center" style="width: 10%;">
                        	<a th:href="@{/chidoan/view/{id}(id=${cd.id})}" class="text-info smooth mr-3" title="View"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        	<a th:href="@{/chidoan/edit/{id}(id=${cd.id})}" class="text-success smooth mr-3" title="Edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                        	<a th:href="@{/chidoan/delete/{id}(id=${cd.id})}" class="text-danger smooth" onclick="return confirm('Bạn có chắc xóa user này?')" title="Delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
	</div>
</body>
</html>
